.tarot-card, .tarot-card-full {
  aspect-ratio: 0.5;
  border-radius: 0.5rem;
  border: 1px solid #000;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.tarot-card:hover {
  transform: scale(1.2);
  transition: all 0.1s ease-out;
}

.pointer {
  cursor: pointer;
}